@import url(/CSS/style.css);

.e_login_signup_container,
.password_section,
.login_signup_container {
    display: flex;
    flex-wrap: wrap;
}

.e_login_signup_container {
    margin-top: 5rem;
    justify-content: center;
}

.login_btn {
    text-align: center;
}

.new_account_link {
    font-size: 1rem;
    position: absolute;
    bottom: 0rem;
    left: 0rem;
}

.login_signup_container {
    position: relative;
    padding: 2rem;
    width: 25rem;
    padding-bottom: 4rem;
    box-shadow: 2px 2px 4px 3px var(--component-color);
}

.login_signup_name {
    font-family: var(--secondary-font);
    text-align: center;
    font-size: 2rem;
}

.login_signup_container {
    flex-direction: column;
    gap: 1rem;
}

.forget_password {
    color: var(--primary-color);
    padding-left: 5rem;
    text-decoration: underline;
}

.checkbox_section {
    gap: 0.5rem;
}

.input_filed {
    padding: 0.5rem;
    border-radius: 4px;
}

.btn_style {
    font-size: 1.5rem;
}

/* signup */
.signup_container {
    width: 30rem;
}

.star_color {
    color: var(--danger-alert-color);
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
}