@import url(/CSS/style.css);
@import url(/CSS/wishlist.css);
@import url(/CSS/cart.css);

.product_card_list {
    background-color: var(--background-color);
    margin: 1rem;
}

.all_cards_container,
.product_title,
.landscap_card_container,
.landscap_cards,
.price_info,
.landscap_btns,
.price_range,
.product_card_details,
.price_list,
.fillter_container,
.product_container,
.product_wishlist_icon,
.containt_list {
    display: flex;
}

.landscap_cards,
.price_info,
.all_cards_container,
.landscap_btns {
    flex-wrap: wrap;
}

.price_range,
.landscap_btns,
.product_card_details,
.containt_list {
    flex-direction: column;
}

.landscap_wishlist:hover,
.landscap_remove_wishlist,
.landscap_cart {
    background-color: var(--gray-color);
    color: var(--black-color);
}

.price_list,
.product_title {
    justify-content: space-between;
}

.prices,
.fillter_container,
.landscap_cut_price,
.landscap_cart_off,
.clear_btn {
    font-size: 1rem;
}

.landscap_title,
.landscap_cart_off,
.price_info,
.landscap_card_btn,
.add_to_cart,
.landscap_btns {
    padding: 0.5rem;
}

.prices,
.clear_btn {
    padding: 1rem;
}

.containt_list,
.landscap_btns,
.landscap_cards,
.price_info,
.product_card_details {
    gap: 1rem;
}

.landscap_card_container,
.product_card {
    box-shadow: 2px 2px 2px 2px var(--boder-color);
}

.fillter_container,
.landscap_card_container,
.landscap_cart:hover,
.landscap_wishlist,
.add_to_cart,
.product_card {
    background-color: var(--pureWhite-color);
}

.prices,
.landscap_cut_price,
.landscap_cart_off {
    color: var(--gray-color);
}

.landscap_remove_wishlist,
.landscap_go_to_cart {
    border: none;
}

.add_to_cart:hover,
.landscap_go_to_cart {
    background-color: var(--lightblue-color);
    color: var(--pureWhite-color);
}

.fillter_container {
    border-right: 1px solid var(--boder-color);
    padding: 2rem;
}

.product_lists {
    list-style: none;
}

.product_card {
    width: 15rem;
    margin-top: 2rem;
}

.containt_list {
    padding-top: 1rem;
}

.clear_btn {
    font-weight: bold;
    text-decoration: underline;
    color: var(--secondary-color);
}

.product_card_img {
    position: relative;
    border-bottom: 1px solid var(--boder-color);
}

.product_wishlist_icon {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    border: 1px solid var(--boder-color);
    border-radius: 50%;
}

.product_card_details {
    text-align: center;
    margin-top: 0.5rem;
}

.add_to_cart {
    width: 90%;
    margin: 0.5rem;
    border: 0.5px solid var(--lightblue-color);
}

.all_cards_container {
    justify-content: space-evenly;
    gap: 1.5rem;
}

.landscap_card_container {
    width: 28rem;
    height: 15.3rem;
}

.landscap_img {
    width: 15rem;
    border-right: 1px solid var(--boder-color);
}

.price_info {
    font-size: 1.5rem;
}

.landscap_card_btn {
    border: 1px solid var(--gray-color)
}

.landscap_cards {
    margin: 1.5rem 1.5rem;
}