@import url(/CSS/style.css);
.product_container{
    /* margin-top: 1rem; */
}
.product_lists{
    list-style: none;
}
.fillter_container{
    width: 20%;
    border-right: 1px solid var(--boder-color);
    font-size: 1rem;
    padding-left: 2rem;
    background-color: var(--background-color);
    position: sticky;
    top: 0;
}
.product_title{
    display: flex;
    justify-content: space-between;
}
.price_range{
    display: flex;
    flex-direction: column;
}
.price_list{
    display: flex;
    justify-content: space-between;
}
.prices{
    font-size: 1rem;
    padding: 1rem;
    color: var(--gray-color);
}
.containt_list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}
.clear_btn{
 font-weight: bold;
 text-decoration: underline;
 font-size: 1rem;
 padding: 1rem;
 color: var(--secondary-color);
}