* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
.advertise_sale,
.categorey_container,
.e_container {
    width: 100%;
}

.product_btn,
.e_icons,
.shopnow_btn {
    padding: 0.5rem;
    transition: all 0.3s ease-in-out;
}

a,
.product_btn,
.e_icons,
.card_overlay {
    color: var(--white-color);
}

.product_btn,
.shopnow_btn,
.title_underline,
.card_overlay {
    background-color: var(--primary-color);
}

.product_btn:hover,
.shopnow_btn:hover {
    background-color: var(--loginbtn-color);
    opacity: 0.7;
}

.card_container:hover,
.logo_container:hover {
    opacity: 0.7;
    transform: scale(1.03);
}

.card_overlay,
.category_heading,
.offer {
    text-align: center;
}

.sale_tagline,
.e_website_name {
    font-size: 2rem;
}

.advertise_sale,
.footer-header,
.social_media_links,
.categorey_list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav_bar {
    position: sticky;
    top: 0;
    z-index: 1;
}

h5,
.e_icons:hover {
    color: black;
}


.icon_nav:hover {
    color: red;
}

.advertise_sale {
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 1rem;
    height: 15rem;
    background-image: linear-gradient(#dcfce7, #f1f5f9, #fefce8, #fecdd3, #fef2f2, #bbf7d0);
}

.e_sales {
    position: relative;
}

.e_website_name {
    color: var(--primary-color);
    font-family: var(--secondary-font);
}

.sale_tagline {
    padding: 2rem;
}


.product_btn {
    font-size: 1rem;
    border-radius: 0.3rem;
}


.shopnow_btn {
    font-size: 1.5rem;
    position: absolute;
    font-weight: bold;
    right: 15rem;
    bottom: -2rem;
    border-radius: 0.5rem;
    font-family: var(--secondary-font);
    border: none;
}


.offer {
    background-color: gold;
    font-size: 1.5rem;
    width: 20rem;
    transform: skew(20deg);
}

.categorey_container {
    margin-top: 5rem;
}

.category_heading {
    font-size: 3rem;
}

.title_underline {
    width: 10rem;
    height: 0.25rem;
    margin: 0.5rem auto 2rem;
}

.categorey_list {
    flex-wrap: wrap;
    gap: 2rem;
}


.card_container {
    width: 15rem;
}

.card_overlay {
    padding: 0.5rem;
}

.logo_container {
    width: 10rem;
    background-color: var(--white-color);
}

.footer {
    background-color: var(--black-color);
}

.social_media_links {
    gap: 1rem;
}


.list-item-inline {
    list-style: none;
    border-radius: 50%;
}

.list-item-inline:hover {
    background-color: var(--boder-color);
}